@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0e172a;
  --secondary: #cc0000;
  --secondary-light: #e51d21;
  --secondary-dark: #a31518;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-primary antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
